/* Major selectors */

body {
  line-height: 1.5;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 3em;
  color: white;
}

h2 {
  font-family: 'Slabo 13px', serif;
}

h3 {
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
}

p {
  font-family: 'Hind Guntur', sans-serif;
}

/* Title section */

#title-section {
  background-color: #F6F6F6;
  background-color: #1B1A17;
}

.container-fluid {
  padding: 3% 15%;
}

.navbar {
  padding: 1% 15%;
}

.navbar-brand {
  font-weight: bold;
}
.nav-link {
  font-weight: bold;
}

.nav-item {
  margin: 0 1em;
}

.welcome-text {
  margin-top: 5em;
}

.title-heading {
  color: white;
}

.carl-profile-image {
  border-radius: 100%;
  width: 70%;
  margin-left: 11em;
  margin-top: 3em;
}

.welcome-paragraph-start {
  width: 65%;
  margin-top: 3em;
  color: white;
}

.welcome-paragraph-text {
  width: 65%;
  color: white;
}

/* Skill section */

#skill-section {
  background-color: white;
  padding-bottom: 30%;
  text-align: center;
}

.azure-logo {
  width: 35%;
  padding-bottom: 3%;
}

.m365-logo {
  width: 30%;
  padding-bottom: 3%;
}

.citrix-logo {
  width: 30%;
  padding-bottom: 3%;
  margin-top: 2em;
}

.citrix-text {
  margin-top: 1em;
}

.carousel-item {
  padding: 10% 15%;
  height: 35em;
}
/* Media adjustments */

@media (max-width: 900px){

  .carl-profile-image {
    border-radius: 100%;
    width: 70%;
    margin-left: 1em;
    margin-top: 2em;
  }
}
