/* Major selectors */

body {
  line-height: 1.5;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 3em;
  color: white;
}

h2 {
  font-family: 'Slabo 13px', serif;
}

h3 {
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Hind Guntur', sans-serif;
  line-height: 1.5;
}

h4 {
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Hind Guntur', sans-serif;
  line-height: 1.5;
  font-weight: bold;
}

h5 {
  font-family: 'Hind Guntur', sans-serif;
  line-height: 1.5;
  font-weight: bold;
}

p {
  font-family: 'Hind Guntur', sans-serif;
}

a {
  font-family: 'Hind Guntur', sans-serif;
}

/* Title section */

#title-section {
  background-color: #1B1A17;
}

.container-fluid {
  padding: 3% 15%;
}

.navbar {
  padding: 1% 15%;
}

.navbar-brand {
  font-weight: bold;
}
.nav-link {
  font-weight: bold;
}

.nav-item {
  margin: 0 1em;
}

.welcome-text {
  margin-top: 5em;
}

.title-heading {
  color: white;
  padding-bottom: 5%;
}

.carl-profile-image {
  border-radius: 100%;
  width: 70%;
  margin-left: 11em;
  margin-top: 3em;
}

.welcome-paragraph-start {
  width: 65%;
  margin-top: 3em;
  color: white;
}

.welcome-paragraph-text {
  width: 65%;
  color: white;
}

/* Skill section */

#skill-section {
  background: #ecf0f1;
  padding-bottom: 10%;
  text-align: center;
}

.skill-heading {
  color: black;
  font-weight: bold;
}

.azure-logo {
  padding-bottom: 3%;
}

.m365-logo {
  padding-bottom: 3%;
}

.citrix-logo {
  padding-bottom: 3%;
}

.carousel-item {
  padding: 10% 15%;
  height: 45em;
}

/* About me section */

#aboutme-section {
  background-color: #1B1A17;
}

#aboutme-section .container-fluid {
  padding: 7% 15%;
}

.aboutme-row {
  padding-bottom: 10%;
}

.cmd-image {
  width: 70%;
  border-radius: 100%;
}

.workout-image {
  width: 50%;
  border-radius: 50%;
  margin-left: 9em;
}

.specialist-block {
  color: white;
  margin-top: 2em;
}

.passion-block-heading {
  color: white;
  margin-top: 3em;
}

.passion-block-paragraph {
  color: white;
  margin-top: 2em;
}

/* Articles section v2 */

.articles-heading {
  color: black;
  font-weight: bold;
  padding-bottom: 7%;
}

.articles-paragraph {
  padding-bottom: 3%;
  width: 70%;
}

.articles-image {
  width: 50%;
  margin-left: 30%;
  margin-top: 5%;
}

.articles-latest-tech {
  font-weight: bold;
}

.articles-latest-personal {
  font-weight: bold;
  margin-left:35%;
}

.articles-latest-tech {
  font-weight: bold;
  margin-left:35%;
}

.personal-link {
  margin-left: 35%;
}

.tech-link {
  margin-left: 35%;
}

.articles-section {
  background: #ecf0f1;
}

.card-content {
	background: #ffffff;
	border: 4px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
}

.card-img img {
	width: 100%;
	height: auto;
	display: block;
}

.card-img span {
	  position: absolute;
    top: 15%;
    left: 18%;
    background: #1ABC9C;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}

.card-img span h4{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}

.card-desc {
	padding: 1.25rem;
}

.card-desc h3 {
	  color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
	color: #747373;
  font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0;
	/* font-family: 'Raleway', sans-serif; */
}

.btn-card{
	background-color: #1ABC9C;
	color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}
.btn-card:hover {
    background: orange;
}
a.btn-card {
    text-decoration: none;
    color: #fff;
}

/* Footer section */

footer {
  background-color: #1B1A17;
  text-align: center;
}

.copyright-paragraph {
  color: white;
}

.fa-linkedin {
  color: white;
  padding: 3%;
}

.fa-envelope {
  color: white;
  padding: 3%;
}

.fa-instagram {
  color: white;
  padding: 3%;
}

.footer-link {
  color: white;
}

/* Media adjustments */

@media (max-width: 900px){

  .carl-profile-image {
    border-radius: 100%;
    width: 70%;
    margin-left: 1em;
    margin-top: 2em;
  }

  .aboutme-row {
    padding-bottom: 0.5rem;
  }

  .cmd-image {
    margin-left: 3em;
  }

  .workout-image {
    margin-left: 4em;
  }

  .articles-image {
    margin-left: 10%;
  }
}

/* ARTICLE PAGE */

#articlepage-section {
  background: #ecf0f1;
}

.nav-color {
  background-color: #1B1A17;
}

.articlepage-heading {
  color: black;
  background-color: white;
  font-weight: bold;
  font-family: 'Hind Guntur', sans-serif;
  text-align: center;
  font-size: 4rem;
  padding: 5% 10%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.article-grouping {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.article-1 {
  color: black;
  background-color: white;
  font-weight: bold;
  font-family: 'Hind Guntur', sans-serif;
  font-size: 4rem;
  padding: 5% 10%;
  width: 100%;
  /* margin: auto; */
  margin-top: 2%;
  margin-left: 10%;
}

.article-paragraph {
  font-size: 1rem;
  padding-top: 3%;
}

.about-me-side {
  color: black;
  background-color: white;
  font-weight: bold;
  font-family: 'Hind Guntur', sans-serif;
  font-size: 4rem;
  padding: 5% 10%;
  width: 50%;
  margin-top: 2%;
  margin-left: 40%;
  text-align: center;
}

.aboutme-profile-image {
    border-radius: 100%;
    width: 70%;
    /* margin-left: 11em;
    margin-top: 3em; */
}
