/* Major selectors */

body {
  line-height: 1.5;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 3em;
  color: white;
}

h2 {
  font-family: 'Slabo 13px', serif;
}

h3 {
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Hind Guntur', sans-serif;
  line-height: 1.5;
}

p {
  font-family: 'Hind Guntur', sans-serif;
}

a {
  font-family: 'Hind Guntur', sans-serif;
}

/* Title section */

#title-section {
  background-color: #1B1A17;
}

.container-fluid {
  padding: 3% 15%;
}

.navbar {
  padding: 1% 15%;
}

.navbar-brand {
  font-weight: bold;
}
.nav-link {
  font-weight: bold;
}

.nav-item {
  margin: 0 1em;
}

.welcome-text {
  margin-top: 5em;
}

.title-heading {
  color: white;
  padding-bottom: 5%;
}

.carl-profile-image {
  border-radius: 100%;
  width: 70%;
  margin-left: 11em;
  margin-top: 3em;
}

.welcome-paragraph-start {
  width: 65%;
  margin-top: 3em;
  color: white;
}

.welcome-paragraph-text {
  width: 65%;
  color: white;
}

/* Skill section */

#skill-section {
  background-color: white;
  padding-bottom: 10%;
  text-align: center;
}

.skill-heading {
  color: black;
  font-weight: bold;
}

.azure-logo {
  padding-bottom: 3%;
}

.m365-logo {
  padding-bottom: 3%;
}

.citrix-logo {
  padding-bottom: 3%;
}

.carousel-item {
  padding: 10% 15%;
  height: 45em;
}

/* About me section */

#aboutme-section {
  background-color: #1B1A17;
}

#aboutme-section .container-fluid {
  padding: 7% 15%;
}

.aboutme-row {
  padding-bottom: 10%;
}

.cmd-image {
  width: 70%;
  border-radius: 100%;
}

.workout-image {
  width: 50%;
  border-radius: 50%;
  margin-left: 9em;
}

.specialist-block {
  color: white;
  margin-top: 2em;
}

.passion-block-heading {
  color: white;
  margin-top: 3em;
}

.passion-block-paragraph {
  color: white;
  margin-top: 2em;
}

/* Blog section */

#articles-section {
  background-color: white;
  text-align: left;
}

#articles-section .container-fluid {
  padding: 7% 15%;
}

.articles-heading {
  color: black;
  font-weight: bold;
  padding-bottom: 7%;
}

.articles-parapgraph {
  padding-bottom: 15%;
  width: 80%;
}

.articles-image {
  width: 50%;
  margin-left: 30%;
  margin-top: 5%;
}

.articles-latest-tech {
  font-weight: bold;
}

.articles-latest-personal {
  font-weight: bold;
  margin-left:35%;
}

.articles-latest-tech {
  font-weight: bold;
  margin-left:35%;
}

.personal-link {
  margin-left: 35%;
}

.tech-link {
  margin-left: 35%;
}

/* Footer section */

footer {
  background-color: #1B1A17;
}

/* Media adjustments */

@media (max-width: 900px){

  .carl-profile-image {
    border-radius: 100%;
    width: 70%;
    margin-left: 1em;
    margin-top: 2em;
  }

  .aboutme-row {
    padding-bottom: 0.5rem;
  }

  .cmd-image {
    margin-left: 3em;
  }

  .workout-image {
    margin-left: 4em;
  }

  .articles-image {
    margin-left: 10%;
  }
}
